<h1>Minhas questoes</h1>
{# isso é um comentário de templete de Django #}
{# {% %} serve para executar códigos como if e for dentro do templete #}
{# {{ }} serve para inserir o valor da variável dentro do templete #}
{# verifica se a variável ultimas_questoes tem conteúdo #}

{% if ultimas_questoes %}
    <ul>
    {# faz um for sobre as questoes dentro da variavel #}
    {% for questoes in ultimas_questoes %}
        <li>
            {# retorna o idda questao {{ questoes.id }} #}
            <a href="/enquete/{{ questoes.id }}/">
                {# retorna a pergunta da questao {{ questoes.pergunta }} #}
                {{ questoes.pergunta }}
            </a>
        </li>
    {# finaliza o bloco for #}
    {% endfor %}
    </ul>
{# se a variavel ultimas_questoes for vazia #}
{% else %}
    <p>Nao tem questoes salvas</p>
{% endif %}